@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

:root {
    --bgColor: #1c1e26;
    --primaryColor: #c4a88a;
    --textPrimary: #db886f;
    --textSeconday: #666;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bgColor);
    font-size: 1.5rem;
}

h1 {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 100;
    color: var(--primaryColor);
}

h1 svg {
    padding-left: 2cm;
    width: 30px;
    fill: var(--primaryColor);
}

#header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px 6px 30px;
}

#buttons {
    text-align: right;
}

#info {
    color: var(--primaryColor);
}

button {
    background: rgba(255, 255, 255, .2);
    border: 0;
    color: rgba(255, 255, 255, .5);
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

div#game {
    color: var(--textPrimary);
    line-height: 35px;
    height: 105px;
    overflow: hidden;
}

div.word {
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    margin:0 5px;

}
