@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

:root {
    --bgColor: #1c1e26;
    --textPrimary: #bbb;
    --textSeconday: #666;
    --primaryColor: #c4a88a;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bgColor);
}

h1 {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 100;
    color: var(--primaryColor);
}

h1 svg {
    width: 40px;
    fill: var(--primaryColor);
}
