@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

:root {
    --bgColor: #1c1e26;
    --primaryColor: #c4a88a;
    --textPrimary: #db886f;
    --textSeconday: #fff;
    --cursorColor: #bbb;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bgColor);
    font-size: 1.5rem;
}

h1 {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 100;
    color: var(--primaryColor);
}

h1 svg {
    padding-left: 2cm;
    width: 30px;
    fill: var(--primaryColor);
}

#header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px 6px 30px;
}

#buttons {
    text-align: right;
}

#info {
    color: var(--primaryColor);
}

button {
    background: rgba(0, 0, 0, .5);
    border: 0;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--textSeconday);
}

div#game {
    line-height: 35px;
    height: 105px;
    overflow: hidden;
    position: relative;
}

div#game:focus {
    outline: 0;
}

#words {
    filter: blur(5px);
    color: var(--textPrimary);
}

#game:focus #words {
    filter: blur(0);
}

#focus-error {
    font-size: larger;
    position: absolute;
    inset: 0;
    text-align: center;
    padding-top: 35px;
    color: var(--textSeconday);
}

#game:focus #focus-error{
    display: none;
}

div.word {
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    margin:0 5px;

}

.letter.correct {
    color: #fff;
}

.letter.incorrect{
    color: #f55;
}

@keyframes blink{
    0%{
        opacity: 1;
    }

    50%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

#cursor {
    display: none;
    width: 2px;
    height: 1.5rem;
    background: var(--cursorColor);
    position: fixed;
    top: 193px;
    left: 12px;
    animation: blink .2s infinite;
}

#game:focus #cursor{
    display: block;
}

#game.over #words{
    opacity: .5;
}